@media(min-width: 100px) {
	h1 {
		color: red;
	}	
}

@media(min-width: 600px) {
	h1 {
		color: blue;
	}	
}

@media(min-width: 900px) {
	h1 {
		color: green;
	}	
}

/*@media(min-width: 300px) and (max-width: 500px) {
	h1 {
		color: blue;
	}	
}
*/


/*
	@media(max-width: 100px) {
		h1 {
			color: red;
		}	
	}

	@media(max-width: 600px) {
		h1 {
			color: blue;
		}	
	}

	@media(max-width: 900px) {
		h1 {
			color: green;
		}	
	}
*/